@import 'https://js.arcgis.com/4.10/esri/css/main.css';


.card-content{
   height: 200px;
 }

 hr{
   color: red;
 }

 .esri-view {
   height:190px;
 }

 .container-map{
   height:180px;
   width:100%;

   position: relative;


 }

 .map{

     width: 100%;
     height: 100%;

 }
