<div class="container-principal">


  <div class="row card">
    <div class="row center-align">
      <div class="col s12">
<br>
      {{chasis}} <!-- <label> Load # 5600670637</label> -->
    <hr>
  </div>
    </div>
    <div class="col s12"><br><br>
    </div>
    <div class="col s12">
      <div class="col s12">

      Parties
    <hr>
  </div>

    </div>
    <div class="col s12">
      <div class="col s6">

        <!--
        <div class="col s12 card-content">
        <div class="col s6">
          <div class="col s12">
            Shipper - SH
            <hr>
          </div>
          <div class="col s12">
            MARTIN BROWER OF <br>
            CANADA <br>
            536 DEERHURST DRIVE <br>
            BRAMPTON, ON L6T5K3 <br>
          </div>

        </div>
        <div class="col s6">
          <div class="col s12">
            Consignee - CN
            <hr>
          </div>
          <div class="col s12">
            NOVA COLD LOGISTICS <br>
            ULC <br>
            10401 46TH ST SE <br>
            CALGARY, AB T2C2X9 <br>
            </div>
        </div>
        </div>
        <div class="col s12 card-content">
          <div class="col s6">
            <div class="col s12">
              Ship From - SF
              <hr>
            </div>
            <div class="col s12">
              MARTIN BROWER OF <br>
              CANADA <br>
              526 DEERHURST DRIVE <br>
              BRAMPTON, ON L6TSK3 <br>
            </div>


          </div>
          <div class="col s6">
            <div class="col s12">

            Ultimate Consignee - UC
            <hr>
            </div>
            <div class="col s12">
            </div>

          </div>
        </div>

        -->

      </div>
      <div class="col s6">
        <div class="col s12 card-content">
          <div class="col s12">
            <div class="col s12">

            PPS DETAILS
            </div>
           </div>
           <div class="col s6">
             <hr>

            </div>
            <div class="col s6">
              <hr>

             </div>
             <div class="col s12">

               <div class="col s12">
                 Power
              </div>
            </div>
        <div class="col s6">

          <div class="col s12">

            Billed Set Point: -10.0 C <br>
            Current Set Point: -10.0 C <br>
            Ambient Temperature: 31.0 C <br>
            Door Contact:Closed <br>
          </div>

        </div>
        <div class="col s6">
          <div class="col s12">
            Fuel Level: 72% <br>
            Returm Air Temperature: -9.2 C <br>
            Active Alarms <br>
            Route History <br>
          </div>

        </div>
        </div>


        <div class="col s12 card-content">
          <div class="col s12">
            <div class="col s12">

            PPS DETAILS
            </div>
           </div>
           <div class="col s12">
             <hr>

            </div>
        <div class="col s4">

          <div class="col s12">

            Current Location: <br>
            Winnipeg, MB <br>
            Lat: {{lat}} <br>
            Lon: {{lon}} <br>
          </div>

        </div>
        <div class="col s8">
          <div class="row">
            <div class="container-map" #mapViewNode></div>
          </div>

        </div>
        </div>

      </div>
    </div>

    <!--
    <div class="col s12 card-content">
      <div class="col s12">
        <div class="col s12">
          <div class="col s12">
            <div class="col s12">

            <div class="col s12">

              Stops
            <hr>
            </div>
            <div class="col s6">
              <div class="col s4 right-align">
                Transportation Mode: <br>
                Shipment Type: <br>
                Origin Ramp: <br>
                Destionation Ramp:
              </div>
              <div class="col s8">
                Intermodal.<br>
                Ramp to Ramp  <br>
                VAUGHAN IMS <br>
                CALGARY IMS
              </div>
            </div>
          </div>


          </div>
        </div>

      </div>
    </div>

    -->

    <!--
    <div class="col s12 card-content">
      <div class="col s12">
        <div class="col s12">
          <div class="col s12">
            <div class="col s12">

            <div class="col s12">

              Routing Information
            <hr>
            </div>
            <div class="col s6">
              <div class="col s4 right-align">
                Routing: <br>
                Revenue Code: <br>
                Payment Method: <br>
              </div>
              <div class="col s8">
                CPRS<br>
                   <br>
                Prepaid <br>
              </div>
            </div>
          </div>


          </div>
        </div>

      </div>
    </div>
    -->
    <div class="col s12"><br><br>
    </div>


  </div>
</div>
