<div class="container-principal">
  <div class="row card">
    <div class="col s12">
      <div class="col s6">
        <div class="col s12">
        <div class="col s6">
          Shipper - SH
        </div>
        <div class="col s6">
          Consignee - CN
        </div>
        </div>
        <div class="col s12">
          <div class="col s6">
            Ship From - SF
          </div>
          <div class="col s6">
            Ultimate Consignee - UC
          </div>
        </div>

      </div>
      <div class="col s6">
      </div>
    </div>
    <div class="col s12">
      <div class="col s6">
        Stops
      </div>
    </div>
    <div class="col s12"> 
      <div class="col s6">
        Routing Information
      </div>
    </div>


  </div>
</div>
