<ng-container>
  <div class="login-body">
    <div class="login-panel p-fluid card">
      <div class="p-grid p-nogutter ">
        <div class="p-col-12 border">
          <div class="p-grid p-text-center">
            <div class="p-col-10 p-offset-1">

              <img class="imagen-banner" src="../assets/logo.png">

            </div>
          </div>
          <div class="p-grid p-text-center">
            <div class="p-col-12">
              <label class="titleproject">Pacific Railway</label>
              <label class="versionado">0.1</label>
            </div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-6 p-offset-3"><br><br><br></div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit($event)" autocomplete="off" class="form-auth">
          <!--
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
          -->
          <div class="p-col-12">
            <div class="p-grid">
              <div class="input-wrapper">
                <div class="p-col-12">
                  <div class="ui-fluid">
                    <div class="p-grid">
                      <div class="p-col-8 p-offset-2">
                        <div class="p-col-12">
                          <label class="formLabel">Password Actual(*)</label>
                        </div>
                        <div class="p-col-12">
                          <div class="p-grid p-text-center">
                            <div class="input-wrapper">
                              <div class="p-col-12">
                                <div class="ui-fluid">
                                  <div class="p-grid p-fluid">
                                    <div class="p-col">
                                      <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                        <p-password formControlName=password [toggleMask]="true" [feedback]="false" [style]="{'width': '100%'}"></p-password>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-col-12">
            <div class="p-grid">
              <div class="input-wrapper">
                <div class="p-col-12">
                  <div class="ui-fluid">
                    <div class="p-grid">
                      <div class="p-col-8 p-offset-2">
                        <div class="p-col-12">
                          <label class="formLabel">Password New(*)</label>
                        </div>
                        <div class="p-col-12">
                          <div class="p-grid p-text-center">
                            <div class="input-wrapper">
                              <div class="p-col-12">
                                <div class="ui-fluid">
                                  <div class="p-grid p-fluid">
                                    <div class="p-col">
                                      <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                        <p-password formControlName=password_new [toggleMask]="true" [feedback]="false" [style]="{'width': '100%'}"></p-password>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-col-12">
            <div class="p-grid p-text-center">
              <div class="input-wrapper">
                <div class="p-col-12">
                  <div class="ui-fluid">
                    <div class="p-grid">
                      <div class="p-col-4 p-offset-4">
                        <button class = "boton-log" [disabled]="form.invalid" pButton type="submit" label="Login"></button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="p-grid">
          <div class="p-col-6 p-offset-3">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
