<ng-container>
  <div class="login-body">
    <div class="login-panel p-fluid card">
      <div class="p-grid p-nogutter ">
        <div class="p-col-12 border">
          <div class="p-grid p-text-center">
            <div class="p-col-10 p-offset-1">

              <img class="imagen-banner" src="../assets/logo.png">

            </div>
          </div>
          <div class="p-grid p-text-center">
            <div class="p-col-12">
              <label class="titleproject">Pacific Railway</label>
              <label class="versionado">0.1</label>
            </div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-6 p-offset-3"><br> </div>
        </div>


        <div class="p-col-12">
          <div class="p-col-12">
          <div class="p-col-8 p-offset-2 p-text-center">
            <br>
            <label class="acessDenied">Acess Denied</label>

          </div>
          <div class="p-col-8 p-offset-2 ">
            <span class="infoDenied">
                You do not have the necessary permissions to view the application. Please log in using the following <a class="feedback" href="javascript:void(0);" (click)="gotoLogin()">link</a><span >.</span>
            </span>

          </div>
          <div class="p-grid">
            <div class="p-col-6 p-offset-3"><br> </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
