
<div id="modalchasis" class="modal">
  <div class="modal-content"><br><br>
    <div class="row">
      <div class="col s12">
        <div class="col s12">
          <ng-container *ngIf="Train!=undefined">
            {{Train.train.name}}
          </ng-container>
      </div>
      <div class="col s12">
        <div class="input-field col s12 center-align" id="cambiodetamanio11">
          <a id="btncerrar" class="btn modal-close waves-effect waves-light close">Salir</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
