   <div class="row card">


    <div class="p-col-12" *ngIf="Data!=undefined"><br><br>
      <ng-container *ngIf="Data.length>0">
        <div class="col s12">
          <div class="col s2">
            Equipment ({{Data.length}})
          </div>
          <div class="col s8">
          </div>
          <div class="col s2 right-align">
            <!--
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-text"></button>
             
            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-text"></button>

            -->
          </div>
        </div>
        <div class="col s12">
          <p-table #dt1 [value]="Data" [columns]="cols" [reorderableColumns]="true" [scrollable]="true" scrollHeight="400px" [resizableColumns]="true" styleClass="p-datatable-striped p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}" [globalFilterFields]="['reference','date','move_type','coordinates']">
            <ng-template pTemplate="caption">
                        <div class="flex">
                             <span class="p-input-icon-left ml-auto">
                                 <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder=" " />
                            </span>
                        </div>
                    </ng-template>
        <ng-template pTemplate="header" let-columns>
       <tr>
           <th *ngFor="let col of columns" pReorderableColumn>
               {{col.header}}
           </th>
       </tr>
   </ng-template>

        <ng-template pTemplate="body" let-object>
            <tr>
              <td *ngFor="let col of cols">
                <ng-container *ngIf="col.field=='reference'">
                  <a href="javascript:void(0);" (click)="gotoppsdetails(object[col.field])" > {{object[col.field]}}</a>

                </ng-container>
                <ng-container *ngIf="col.field!='reference'">
                  {{object[col.field]}}

                </ng-container>
              </td>
               <!--

               <td>
                 <ng-container *ngIf="object.properties!=undefined">
                   {{object.properties.device_id}}
                 </ng-container>
               </td>
               <td>
                 <ng-container *ngIf="object.properties!=undefined">
                   {{formatdate(object.properties.date)}}
                 </ng-container>
               </td>
               <td>
                 <ng-container *ngIf="object.properties!=undefined">
                   {{object.properties.move_type}}
                 </ng-container>
               </td>
               <td>
                 <ng-container *ngIf="object.geometry!=undefined">
                   <ng-container *ngIf="object.geometry.coordinates!=undefined">
                     {{object.geometry.coordinates[0]}},{{object.geometry.coordinates[1]}}
                   </ng-container>
                 </ng-container>
               </td>
                -->

            </tr>
        </ng-template>
    </p-table>
        </div>
      </ng-container>
      <ng-container *ngIf="Data.length==0">
        <div class="col s12">
          Equipment ({{Data.length}})
        </div>
      </ng-container>



    </div><br><br>


</div>
