<div class="container-principal">
  <div class="row card">
    <div class="col s12"><br><br>
      <div class="col s2"><br><br>
        <div class="col s12">

          <div class="col s12">
            Time Range
          </div>
        </div>
        <div class="col s12">
          <div class="col s12">
            From
          </div>
        </div>
        <div class="col s12">
          <div class="col s12">
            Date
          </div>
          <div class="col s12">
            <p-calendar [(ngModel)]="value" [style]="{'width':'100%'}"></p-calendar>
          </div>
         </div>
        <div class="col s12">
          <div class="col s12">
            Time
          </div>
          <div class="col s12">
        <p-calendar [(ngModel)]="value2" [showTime]="true" [showSeconds]="true" inputId="timeonly" [style]="{'width':'100%'}"></p-calendar>
      </div>
        </div>
        <div class="col s12"><br>
        </div>
        <div class="col s12">
          <div class="col s12">
             To:
          </div>
        </div>
        <div class="col s12"><br>
        </div>


        <div class="col s12">
          <div class="col s12">
            Date
          </div>
          <div class="col s12">
            <p-calendar [(ngModel)]="value" [style]="{'width':'100%'}"></p-calendar>
          </div>
         </div>
        <div class="col s12">
          <div class="col s12">
            Time
          </div>
          <div class="col s12">
        <p-calendar [(ngModel)]="value2" [showTime]="true" [showSeconds]="true" inputId="timeonly" [style]="{'width':'100%'}"></p-calendar>
      </div>
        </div>
        <div class="col s12"><br>
        </div>
        <div class="col s12 right-align">
          <button pButton pRipple type="button" label="Update" class="p-button-danger"></button>

        </div>

      </div>
      <div class="col s10"><br><br>
        Hola 2
      </div>
    </div>
  </div>



</div>
