@import 'https://js.arcgis.com/4.10/esri/css/main.css';

.esri-view {
  height: 300px;
}


.container{
 /*  margin-top: 2%; */

}

.container-principal{
  max-width: 100%;
  height:100%;
  position: relative;

}

.container-map{
  height:780px;
  width:100%;

  position: relative;


}
.pi-search{
  margin-left: -40px !important;
}



.map{

    width: 100%;
    height: 100%;

}
.summary{
    position: sticky;
    margin-top: 0;
    background-color: black;
    height: 15vh;
    bottom:0;



}


.mapboxgl-popup-content {
    color: black !important;
}

.mapboxgl-ctrl-group{
    color: black;
}

.p-tabmenuitem {
  width: 33.33% !important;

}

.titleGeneral{
  font-size: 24px;
  color: #000 !important;
  font-family: fuenteparatitulos;

}

.options-labels{
  font-size: 14px;
  color: #000 !important;
}


@media screen and (max-width: 780px) {
  .container-principal{
    margin-top: 2%;
    margin-left: 5%;
    max-width: 90%;
  }
}
