
 <nav>
  <div class="nav row">
    <div class = "col l6">
       <a href="" class="material-icons icon-user" >account_circle </a>
       <!-- <img class = "cp-style"src="../assets/cp.png"> -->  Custumer Station
    </div>
    <ul id = "nav-mobile" class = "center hide-on-med-and-down">
      <li class="tab">Home</li>
      <li><a href="" class="pi pi-angle-down text-nav"></a></li>
   </ul>
    <ul id = "nav-mobile" class = "right hide-on-med-and-down">
       <li><i class="large material-icons icons-right">search</i></li>
       <li><i class="large material-icons icons-right">settings</i></li>
       <li><i class="large material-icons icons-right">reorder</i></li>
    </ul>
  </div>
</nav>
<div class="linea"></div>
