 <div class = "row">
  <div class = "col l12">
    <div class="card grey" >
      <div class="card-content white-text">
        <p style = "font-size:17px">You have 4 notificacion(s) requiring your attention {{Index}}</p>
        <ng-container *ngIf="Delete"><p-button class="black-button"icon="pi pi-times" class = "position-close" (click)="removeComponent()"></p-button> </ng-container>
        <br>
        <p>28 days ago</p>
        <br>
        <p>Collapse Group</p>
      </div>
    </div>
  </div>
</div>
