<nav>
    <div class="nav">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id = "nav-mobile" class = "center hide-on-med-and-down">
         <li><a href="" class="pi pi-angle-left text-nav"></a></li>
         <li><a href="" class = "text-nav">pping Instructions</a></li>
         <li><a href="" class = "text-nav">Empty Management</a></li>
         <li><a href="" class = "text-nav active">Problem Resolution & Shipment Management</a></li>
         <li><a href="" class = "text-nav">Terminal Management</a></li>
         <li><a href="" class = "text-nav">Admin</a></li>
         <li><a href="" class="pi pi-angle-down text-nav"></a></li>
      </ul>
      <ul id = "nav-mobile" class = "right hide-on-med-and-down">  
         <li class="tab"><a href="" class = "text-nav-right">By Date</a></li>
         <li class="tab"><a href="" class = "text-nav-right active">By Tipe</a></li>
         <li class="tab"><a href="" class = "text-nav-right">By Priority</a></li>   
      </ul>
    </div>
  </nav>


  
