<div class="container-principal">
  <div class="row card">
    <div class="p-col-10 p-offset-1"><br><br>
    </div><br><br>
    <div class="p-col-10 p-offset-1">

      <div class="p-grid">
        <div class="p-col-4 p-offset-4">
          <button pButton type="submit" label="BUILD" (click)="buildMap()"></button>
        </div>
      </div>
      <div class="p-grid">
        <div id="map" style="width: 100%; height: 530px;"></div>
      </div>
    </div>
  </div>


</div>
<div>
  <app-chasis [Train]="train"></app-chasis>
