   <div  class="row">
    <div class="p-col-12">
      <div class="col s12">
        <div class="col s12">
          <div class="col s12">
            Search By:
          </div>
          <div class="col s12 m8 l8">
            <div class="col s12 m2 l2">
              <label for="groupname"> Chassis ID</label>
            </div>
            <div class="col s1 m1 l1">
             </div>
            <div class="col s12 m2 l2">
              <label for="groupname"> Events</label>
            </div>
            <div class="col s12 m2 l2">
              <label for="groupname"> Geofences</label>
            </div>
          </div>
         </div>
         <div class="col s12">
           <div class="col s12 m8 l8">
             <div class="col s12 m2 l2">
               <div class="p-inputgroup">
                  <input [(ngModel)]="chasis" (onChange)="deleteoptions()" type="text" pInputText>
               </div>
             </div>
             <div class="col s1 m1 l1">
               <label for="groupname"> OR</label>
             </div>
             <div class="col s12 m2 l2">
               <div class="p-inputgroup" *ngIf="Events.length>0">
                 <p-dropdown [options]="Events" [(ngModel)]="event_select" (onChange)="deletechasis()" [showClear]="true" optionLabel="name"  [style]="{'width':'100%','max-width':'100%'}"></p-dropdown>
               </div>
             </div>
             <div class="col s12 m2 l2">
               <div class="p-inputgroup" *ngIf="Georeferences.length>0">
                 <p-dropdown [options]="Georeferences" [(ngModel)]="georeference_select" (onChange)="deletechasis()" [showClear]="true" optionLabel="name"  [style]="{'width':'100%','max-width':'100%'}"></p-dropdown>
               </div>
             </div>
             <div class="col s2">
               <div class="col s12 m12 l6">
                 <button pButton pRipple type="button" label="Go" class="p-button-success" (click)=send_filter()></button>
               </div>
               <div class="col s12 m12 l6">
                 <button pButton pRipple type="button" label="Reset" class="p-button-danger" (click)=resetFilters()></button>
               </div>
             </div>
         </div>
         <div class="col s12 m4 l4">
           <div>
             <ng-container>
               Auto-Update
               <ng-container *ngIf="checked">
                  ({{Time}})
                </ng-container>
                 

             </ng-container>
           </div>
           <div class="valign-wrapper">
             <p-inputSwitch [(ngModel)]="checked" (ngModelChange)="send()"></p-inputSwitch>

           </div>
          </div>
         </div>
      </div>
    </div>
  </div>
