
<div class="row">
  <h4 style = "margin-left: 10px;">Problem Resolution & Shipment Management</h4>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Log an Issue</span>
          <div class="card-content">
              <p class = "position-icon">
                <span class="material-icons" style="font-size: 2rem">
                  report_problem
                </span>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Map View</span>
          <p class = "position-icon">
            <span class="material-icons" style="font-size: 2rem">
            public
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Track & Trace - Cardload</span>
          <p class = "position-icon">
            <i class="pi pi-map-marker" style="font-size: 2rem"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Track & Trace - Intermodal International</span>
          <p class = "position-icon">
            <i class="pi pi-map-marker" style="font-size: 2rem"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Edit or View Pickup Number</span>

        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Add Storage Guarante</span>

        </div>
      </div>
    </div>
  </div>


  <!-- segunda fila de cards-->
  <div class="row">
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text position-icontext">
          <p><i class="pi pi-exclamation-circle"></i>  Cannot load tile</p>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text position-icontext">
          <p><i class="pi pi-exclamation-circle"></i>  Cannot load tile</p>
        </div>
      </div>
    </div>
    <div class="col l2">

    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content yellow-text">
          <span class="card-title">Track & Trace - Intermodal International</span>

        </div>
      </div>
    </div>
    <div class="col l2">

    </div>
    <div class="col l2">

    </div>
  </div>
  <div class = "row">
    <h4 style = "margin-left: 10px;">Problem Resolution & Shipment Management</h4>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Equipment Summary</span>
          <div class="card-content">
            <p class = "position-icon"><span class="material-icons" style="font-size: 2rem">factory</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Marine Booking Create</span>
          <p class = "position-icon"><span class="material-icons" style="font-size: 2rem">directions_boat</span></p>
        </div>
      </div>
    </div>
    <div class="col l2">
      <div class="card format-cards">
        <div class="card-content white-text">
          <span class="card-title">Marine Booking View</span>
          <p class = "position-icon"> <span class="material-icons" style="font-size: 2rem">directions_boat</span></p>
        </div>
      </div>
    </div>
  </div>
