
  <app-navigation></app-navigation>

  <div class="container-principal">

    <div class="row card">
      <div class="col s12 center-align">
        <div class="col s5">
          <button pButton pRipple type="button" label="One" class="p-button-success" (click)=optionOne()></button>
        </div>
        <div class="col s5">
          <button pButton pRipple type="button" label="Two" class="p-button-success" (click)=optionTwo()></button>
        </div>
        <div class="col s5">
          <button pButton pRipple type="button" label="Three" class="p-button-success" (click)=optionThree()></button>
        </div>
        <div class="col s5">
          <button pButton pRipple type="button" label="Four" class="p-button-success" (click)=optionFour()></button>
        </div>
      </div>
    </div>
  </div>
 
<router-outlet></router-outlet>
