.position-icon{
    position: absolute;
    bottom: 20px;
    right: 5px;
}

.position-icontext{
    position: absolute;
    bottom: 0;
    font-size:18px
}

.format-cards{
    background-color: rgb(192, 13, 13);
    height: 250px;
}

nav{
    background-color: white;
}

.text-nav{
    color: black;
    font-size: 20px;
}