/* You can add global styles to this file, and also import other style files */
.formLabel{
  font-size: 18px;
  letter-spacing: 2px;
  font-family: fuenteparacuerpo;

}
.p-password-input{
 -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
 -webkit-transition-delay: 9999s;
}

    .p-inputtext {
      text-align: center !important;
    }

input {
   -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
   -webkit-transition-delay: 9999s;
}

input:-webkit-autofill-strong-password {
   -webkit-text-security: none !important;
   -webkit-user-select: none !important;
   cursor: default !important;
   font-family: monospace;
}

input:-webkit-autofill, input:-webkit-autofill-strong-password {
   background-color: #FAFFBD !important;
   background-image: none !important;
   color: #000000 !important;
}

html{
   background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.p-scrollpanel .p-scrollpanel-bar {
  background: #2000ff !important;
  border: 0 none;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

.p-inputgroup {
  width: 100%;
  max-width: 100%;
}

.p-inputwrapper-filled{
  width: 100%;
  max-width: 100%;
}

td {
             word-break: break-all;
        }
@media screen and (max-width: 500px) {
  .p-tabmenuitem {
    width: 100% !important;
           text-align: center;
  }

  .p-menuitem-text{
    width: 100% !important;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: fuenteparacuerpo;
    color: #000000 !important;

  }

}
